<div class="auth-page">
  <form class="auth-card" [formGroup]="regForm" (ngSubmit)="onSubmit()">
    <h2 class="auth-title">Crea il tuo account</h2>
    <p class="auth-subtitle">Accedi ai corsi e inizia il tuo percorso</p>

    <!-- NOME + COGNOME -->
    <div class="row">
      <div class="field">

        <input formControlName="name"  placeholder="Nome"/>
        @if (regForm.get('name')?.touched && regForm.get('name')?.invalid) {
          <small>Nome obbligatorio</small>
        }
      </div>

      <div class="field">

        <input formControlName="surname" placeholder="Cognome" />
        @if (regForm.get('surname')?.touched && regForm.get('surname')?.invalid) {
          <small>Cognome obbligatorio</small>
        }
      </div>
    </div>

    <!-- USERNAME -->
    <div class="field">

      <input formControlName="username" placeholder="Username"/>
      @if (regForm.get('username')?.touched && regForm.get('username')?.invalid) {
        <small>Username obbligatorio</small>
      }
    </div>

    <!-- EMAIL -->
    <div class="field">

      <input formControlName="email" placeholder="Email"/>

      @if (regForm.get('email')?.touched && regForm.get('email')?.errors?.['required']) {
        <small>Email obbligatoria</small>
      }
      @if (regForm.get('email')?.touched && regForm.get('email')?.errors?.['email']) {
        <small>Email non valida</small>
      }
    </div>

    <!-- PASSWORD -->
    <div class="field">

      <input type="password" formControlName="password" placeholder="Password" />

      @if (regForm.get('password')?.touched && regForm.get('password')?.errors?.['required']) {
        <small>Password obbligatoria</small>
      }
      @if (regForm.get('password')?.touched && regForm.get('password')?.errors?.['minlength']) {
        <small>Minimo 6 caratteri</small>
      }
    </div>

    <!-- RUOLO -->
    <div class="field">
      <label>Sei un:</label>

      <div class="radio-group">
        <label>
          <input type="radio" formControlName="role" value="user" />
          Studente
        </label>

        <label>
          <input type="radio" formControlName="role" value="teacher" />
          Docente
        </label>
      </div>

      @if (regForm.get('role')?.touched && regForm.get('role')?.invalid) {
        <small>Seleziona un ruolo</small>
      }
    </div>

    <!-- TERMINI -->
    <div class="field checkbox">
      <label>
        <input type="checkbox" formControlName="terms" />
        Accetto termini e condizioni
      </label>

      @if (regForm.get('terms')?.touched && regForm.get('terms')?.invalid) {
        <small>Devi accettare i termini</small>
      }
    </div>

    <!-- SUBMIT -->
    <button type="submit" [disabled]="regForm.invalid">Crea account</button>

    @if (submitted) {
      <p class="success">Account creato con successo ✔</p>
    }
  </form>
</div>
