/* You can add global styles to this file, and also import other style files */
:root {
  /* Colori */
  --primary-color: #2563eb;
  --secondary-color: #f8fafc;
  --accent-color: #f59e0b;
  --text-dark: #1e293b;

  /* Font */
  --font-main: 'Inter', sans-serif;
}

